h1 {
    color: blue;
    font-family:'Times New Roman', Times, serif, "Lucida Sans Unicode", sans-serif;
    font-size: 34px;
    text-decoration: underline;
    text-decoration-color: blue;
    line-height: 30px;
    text-align: center;
}

body{
    background: black;
    
}

canvas {
    border: 1px solid white;
}

#canvasWrapper {
    justify-content: center;
    display: flex;
    width: 100%;
}