h1 {
    color: blue;
    font-family:'Courier New', Courier, monospace;
    font-size: 34px;
    text-decoration: underline;
    text-decoration-color: blue;
    line-height: 30px;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

body{
    background: black;
    
}

canvas {
    border: 1px solid white;
}

#canvasWrapper {
    justify-content: center;
    display: flex;
    width: 100%;
}

#score {
    width: 400px;
    color: white;
    text-align: right;
}

.highScore {
    width: 400px;
    color: white;
    text-align: right;
}

#scoreWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}